<%- if reservation.start_date.month != @current_month -%>
	<%- @current_month = reservation.start_date.month -%>
	<tr class="separator active">
		<th colspan=20><%= reservation.start_date.strftime("%B %Y") %></th>
	</tr>
<% end %>

<tr class="reservation <%#= "info" if reservation.current? %> <%#= "warning" if reservation.soon? %>" data-id="<%= reservation.id %>">
	<td class="name">
		<%= link_to reservation.name, reservation %>
		<%= content_tag :span, pluralize(*reservation.time_until) if reservation.start_date < 4.weeks.from_now && !reservation.past? %>
		<%= content_tag(:span, "Currrent Guest", class: "label label-warning") if reservation.current? %>
	</td>
	<td class="status-muted"><%= reservation.status %></td>
	<td class="start-date"><%= reservation.start_date.utc.strftime("%a, %b %d") %></td>
	<td class="end-date"><%= reservation.end_date.utc.strftime("%a, %b %d") %></td>
	<td class="centered"><%= link_to checkmark("Cleaning Scheduled", reservation.cleaning_scheduled?),
					reservation_path(reservation, reservation: { cleaning_scheduled: !reservation.cleaning_scheduled? }),
					method: :put %>
					</td>
	<td class="centered"><%= link_to checkmark("Welcome Sent", reservation.welcome_sent?),
					reservation_path(reservation, reservation: { welcome_sent: !reservation.welcome_sent? }),
					method: :put %>
					</td>
	<td class="centered"><%= link_to checkmark("Cleaning Complete", reservation.cleaning_completed?),
					reservation_path(reservation, reservation: { cleaning_completed: !reservation.cleaning_completed? }),
					method: :put %>
					</td>
</tr>
