<table class="table table-condensed flip-scroll">
	<thead>
		<tr>
			<th>Guest</th>
			<th>Status</th>
			<th>Start</th>
			<th>End</th>
			<th class="centered"><%= fa(:calendar) %> Scheduled</th>
			<th class="centered"><%= fa(:key) %> Welcomed</th>
			<th class="centered"><%= fa(:bed) %> Cleaned</th>
		</tr>
	</thead>

	<tbody>
		<%= render @reservations %>
	</tbody>
</table>

<br />
<%= link_to "Show all", all_reservations_path, :class => "btn" %>
