<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Screendoor</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= stylesheet_link_tag "https://use.fontawesome.com/0e5259e760.css" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div id="flashes">
		<% flash.each do |type, message| %>
		<div class="alert <%= alert_class_for(type) %> alert-dismissible fade in">
			<button type="button" class="close" aria-label="Close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
			<%= message %>
		</div>
		<% end %>
	</div>

	<div class="container">

		<header class="page-header">
			<h1 class="inline-block">Betta's Cove</h1>

			<ul class="nav nav-pills inline-block">
				<li role="presentation"><%= link_to "Upcoming", root_path %></li>
				<li role="presentation"><%= link_to "All", all_reservations_path %></li>
				<li role="presentation"><%= link_to "Housekeeping", housekeeping_reservations_path %></li>
			</ul>
		</header>

		<%= yield %>

		<p class="footer muted">&copy; 2015 Matt Harris</p>
	</div>
</body>
</html>
